body {
background-image:url('background_singlelayer.jpg');
background-repeat:no-repeat;
}

#announcement video {
max-width:480px;
max-height:480px;
}

#content img {
max-width:480px;
max-height:480px;
}

#title_link {
    color: #000000;
    text-decoration: none;
}

#title_link:hover {
     color:#A9A9A9; 
     text-decoration:none; 
     cursor:pointer; 
}

nav ul li {
float:left;
list-style:none;
display:block;
margin-left:0.618cm;
border-style:groove;
border-radius:6px;
background:WhiteSmoke;
}

nav ul li:hover {
background:MistyRose;
}

#search {
float:right;
margin-right:0.618cm;
}

#welcome {
clear:both;
float:left;
margin-right:0.3819cm;
margin-left:0.3819cm;
width:38.1924%;
}

#welcome ul {
list-style:none;
border-style:solid;
border-color:LightSlateGray;
border-radius:8px;
}

#announcement {
float:left;
width:56%;
}

#announcement ul {
list-style:none;
border-style:solid;
border-color:LightSlateGray;
border-radius:8px;
}

#content {
height:auto;
width:auto;
}

#content ul {
clear:both;
float:left;
list-style:none;
}

#content ul li {
border-style:solid;
border-color:LightSlateGray;
border-radius:8px;
width:auto;
height:auto;
display:table;
}

#footer {
    clear:both;
    font-size:11px;
    text-align:center;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

body {
background-image:url('background_singlelayer.jpg');
background-repeat:no-repeat;
}

#announcement video {
max-width:240px;
max-height:240px;
}

#content img {
max-width:240px;
max-height:240px;
}

#header h1 {
font-size:22px;
}

nav ul {
list-style:none;
}

nav ul li {
float:left;
list-style:none;
display:block;
width:2.5cm;
margin-left:0.1cm;
border-style:groove;
border-radius:6px;
background:WhiteSmoke;
text-align:center;
}

nav ul li:hover {
background:MistyRose;
}

#search {
float:left;
}

#welcome {
float:left;
width:auto;
}

#welcome ul {
list-style:none;
border-style:solid;
border-color:LightSlateGray;
border-radius:8px;
}

#announcement {
float:left;
width:auto;
}

#announcement ul {
list-style:none;
border-style:solid;
border-color:LightSlateGray;
border-radius:8px;
}

#content ul {
float:left;
list-style:none;
}

#content ul li {
border-style:solid;
border-color:LightSlateGray;
border-radius:8px;
width:auto;
height:auto;
}

#footer {
font-size:10px;
text-align:center;
}

}
