body {
background-image:url('background_singlelayer.jpg');
background-repeat:no-repeat;
}

#title_link {
    color: #000000;
    text-decoration: none;
}

#title_link:hover {
     color:#A9A9A9; 
     text-decoration:none; 
     cursor:pointer; 
}

#main {
    clear:both;
    width:70%;
    float:left;
    border-right:groove;
    border-color:Grey;
    margin-right:0.3819cm;
}

.article video {
max-height:480px;
max-width:480px;
}

#main img {
max-height:480px;
max-width:480px;
}

#nav {
    float:left;
    display:block;
}

#search {
    display:block;
    float:right;
    margin-right:0.618cm;
}

#sidebar {
    clear:right;
    width:27%;
    float:right;
}

.pagination {
    clear:both;
    text-align:center;
}

#footer {
    clear:both;
    font-size:11px;
    text-align:center;
}
